name: Run benchmarks

on: [pull_request]

jobs:
  Benchmark:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@latest
        with:
          version: 1.6
      - uses: julia-actions/julia-buildpkg@latest
      - name: Install dependencies
        run: julia -e 'using Pkg; pkg"add PkgBenchmark BenchmarkCI@0.1"'
      - name: Run benchmarks
        run: julia -e 'using PkgBenchmark, BenchmarkCI;; BenchmarkCI.judge(baseline=BenchmarkConfig())'
      - name: Print judgement
        run: julia -e 'using BenchmarkCI; BenchmarkCI.displayjudgement()'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}